/* PartnerSection.module.css */
.heroTitle {
  font-size: 2rem; /* Base size for small screens */
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.ctaBox {
  /* padding: 15px; */
  border-radius: 8px;
  /* background-color: #f8f9fa; */
}

.textGreen {
  color: lightgreen;
}

/* Medium screens */
@media (min-width: 768px) {
  .heroTitle {
    font-size: 3rem;
  }
}

/* Large screens */
@media (min-width: 992px) {
  .heroTitle {
    font-size: 4.5rem;
  }
}