/* PartnerSection.module.css */
.partnerSection {
  position: relative;
  padding-bottom: 30vh; /* Adjust this value to control how much of the image is visible */
  padding-top: 30px;
}

.heroTitle {
  font-size: 2rem; /* Base size for small screens */
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.textGreen {
  color: #2fe647;
}

.imageContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.fullWidthImage {
  width: 100%;
  height: auto;
  display: block;
}

/* Medium screens */
@media (min-width: 768px) {
  .heroTitle {
    font-size: 3rem;
  }
}

/* Large screens */
@media (min-width: 992px) {
  .heroTitle {
    font-size: 4.5rem;
  }
  
  .partnerSection {
    padding-bottom: 40vh; /* Increase visible portion of the image on larger screens */
  }
}