.testimonialCard {
  height: 100%;
}

.contentColumn {
  position: relative;
  padding-right: 30px;
}

.testimonialContent {
  max-width: 85%;
}

@media (max-width: 991px) {
  .testimonialContent {
    max-width: 100%; 
  }
}

.ratingsColumn {
  position: relative;
}

.ratingsColumn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 10px;
  width: 1px;
  background-color: #e9ecef;
}

.ratingDot {
  height: 14px;
  width: 14px;
  background-color: #2fe647;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.ratingDot.empty {
  background-color: #e9ecef;
}

.cardFooter {
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 0.75rem 1.25rem;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #212529;
  margin-right: 0.5rem;
}