.testimonialCard {
    height: 100%;
  }
  
  .ratingDot {
    height: 10px;
    width: 10px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
  }
  
  .ratingDot.empty {
    background-color: #e9ecef;
  }